.card-item {
    border: solid 1px #333333;
    font-size: 20px;
    text-align: center;
    .title {
        text-align: center;
        font-size: 80px;
    }
}

.fa-meh-blank, .fa-smile-beam, .fa-surprise, .fa-frown, .fa-angry, .fa-meh-rolling-eyes {
    color: #e0440e!important;
}